<!DOCTYPE html>
<html lang="en">
<%- include('common/head', { subtitle: 'Error' }); -%>
<body class="vh-100 flex flex-column">
	<div class="box p-4">
		<h1><%= code %></h1>
		<p><%= message %></p>
		<a href="/" class="button mt-4">Back to uuuurl</a>
	</div>
</body>
</html>