<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>uuuurl</title>

	<script src="/js/js.js"></script>
</head>
<body>
	<img src="/img/uuuurl_plus.png" alt="uuuurl image">
	<h1>uuuurl</h1>
	<input type="url" name="input_url" id="input_url" placeholder="URL here">
	<button id="btn_search_url">Search URL</button>
	<button id="btn_shorten_url">Shorten URL</button>

	<script>
		let input_url       = document.getElementById('input_url');
		let btn_search_url  = document.getElementById('btn_search_url');
		let btn_shorten_url = document.getElementById('btn_shorten_url');

		const init = async () => {
			let list = await req('/link', 'GET');
			console.log(list);
		};

		const registerURL = async (url) => {
			let list = await req('/link', 'POST', { url: url });
			console.log(list);
		};

		const searchURL = async (hash) => {
			let list = await req('/find/' + hash, 'GET');
			console.log(list.data);
			window.location.href = list.data;
		};

		btn_search_url.addEventListener("click", () => {
			searchURL(input_url.value);
		});
		btn_shorten_url.addEventListener("click", () => {
			registerURL(input_url.value);
		});
	</script>
</body>
</html>