<!DOCTYPE html>
<html lang="en">
<%- include('common/head', { include_js: true }); -%>
<body class="vh-100">
	<div class="vh-100 flex flex-column box mx-auto">
		<div class="p-3 w-100">
			<img src="/img/uuuurl_plus.png" alt="uuuurl image">
			<form method="POST" action="/link" class="flex flex-column pb-3">
				<fieldset class="box p-0">
					<label for="input_url">Type URL to shorten</label>
					<input type="url" name="url" id="input_url" class="mb-2" placeholder="https://u-rl.ga" required>
					<input type="hidden" name="resType" value="web">
					<button class="button" type="submit">Shorten URL</button>
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<div class="box mx-auto">
		<div class="p-3">
			<h2>Shortened URLs</h2>
			<div id="url_list"></div>
		</div>
	</div>
	<hr>
	<footer class="t-center p-4">gunhoflash@naver.com</footer>

	<script>
		const searchAllURLs = async () => {
			const origin = location.origin;
			let response = await req('/link', 'GET');
			let data = response.data;
			let short_url, i, len, str;

			i = 0;
			len = Object.keys(data).length;
			str = `<p class="mb-4">${len} URL${(len > 1)?'s':''} shortened.</p>`
			for (const doc of data) {
				short_url = origin + doc.path;
				str += `<div class="row mb-2" data-path="${doc.path}">
					<div class="column column-40 over-ellipsis">${doc.url}</div>
					<div class="column column-40 over-ellipsis"><a id="shortened-${i}" href="${short_url}">${short_url}</a></div>
					<div class="column t-end">
						<% if (typeof is_admin !== "boolean" || is_admin == false) { %>
							<button class="button button-small button-reversal m-0 copy2clipboard" data-clipboard-target="#shortened-${i}">Copy</button>
						<% } else { %>
							<button class="button button-small button-reversal m-0" data-delete-path="${doc.path}">Delete</button>
						<% } %>
					</div>
				</div>`;
				i++;
			}

			// init list
			document.getElementById('url_list').innerHTML = str;

				<% if (typeof is_admin == "boolean" && is_admin == true) { %>
					// add event listener to delete
					for (const doc of data) {
						document.querySelector(`button[data-delete-path="${doc.path}"]`)
						.addEventListener('click', deleteURL);
					}
				<% } %>
			};
			
			<% if (typeof is_admin == "boolean" && is_admin == true) { %>
				const deleteURL = async (e) => {
					let path = e.currentTarget.getAttribute('data-delete-path');
					let response = await req('/link', 'DELETE', {
						path: path,
						password: '<%- password -%>'
					});
					if (response.result == 1) {
						// success
						document.querySelector(`.row[data-path="${path}"]`).remove();
					}
				};
			<% } %>

		searchAllURLs();
	</script>
	<%- include('common/script'); -%>
</body>
</html>