<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>uuuurl</title>
	<link rel="stylesheet" href="/css/milligram.min.css">
	<link rel="stylesheet" href="/css/normalize.min.css">
	<script src="/js/js.js"></script>
</head>
<body class="vh-100">
	<div class="vh-100 flex flex-column box mx-auto">
		<div class="p-3">
			<img src="/img/uuuurl_plus.png" alt="uuuurl image">
			<form method="POST" action="/link" class="flex flex-column pb-3">
				<fieldset class="box p-0">
					<label for="input_url">Type URL to shorten</label>
					<input type="url" name="url" id="input_url" class="mb-2" placeholder="https://u-rl.ga">
					<input type="hidden" name="resType" value="web">
					<button id="btn_shorten_url" class="button" type="submit">Shorten URL</button>
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<div class="box mx-auto">
		<div class="p-3">
			<h2>Shortened URLs</h2>
			<div id="url_list"></div>
		</div>
	</div>
	<hr>
	<footer class="t-center p-4">
		gunhoflash@naver.com
	</footer>

	<script>
		let input_url        = document.getElementById('input_url');
		let form_shorten_url = document.getElementById('form_shorten_url');
		let btn_shorten_url  = document.getElementById('btn_shorten_url');
		let url_list         = document.getElementById('url_list');

		const init = async () => {
			let list = await req('/link', 'GET');
			console.log(list);
		};

		const registerURL = async (url) => {
			await req('/link', 'POST', { url: url, resType: 'json' });
			//let list = await req('/link', 'POST', { url: url, resType: 'web' });
			//console.log(list);
		};

		const searchURL = async (hash) => {
			let list = await req('/find/' + hash, 'GET');
			console.log(list.data);
			window.location.href = list.data;
		};

		const searchAllURLs = async () => {
			const origin = location.origin;
			let data = await req('/link', 'GET');
			data = data.data;

			let short_url, i = 0, str = '';
			for (const doc of data) {
				short_url = origin + doc.short;
				str += `<div class="row mb-2">
					<div class="column column-40 over-ellipsis">${doc.url}</div>
					<div class="column column-40 over-ellipsis"><a id="shortened-${i}" href="${short_url}">${short_url}</a></div>
					<div class="column t-end"><button class="button button-small button-reversal m-0 copy2clipboard" data-clipboard-target="#shortened-${i}">Copy</button></div>
				</div>`;
				i++;
			}
			url_list.innerHTML = str;
		};

		searchAllURLs();
	</script>
	<%- include('common_script'); -%>
</body>
</html>